@charset "utf-8";

#project{
    height: auto;
}
#Team, #Personal{
    height: auto;
    position: relative;
}
#project section{
    height: 100%;
}
#project .title{
    width: 910px;
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 110px;
    z-index: 1;
}
#project .clear{
    clear:both;
}
#project .flower{
    position: absolute;
    left: 190px;
    width: 80px;
}

#project .title h2{ 
    font-size: 65px;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 130px;
}
/* 타이틀 가로 꾸밈 요소 */
#project .line1{
    width: 180px;
    position: absolute;
    left: 0;
}
#project .line2{
    width: 110px;
    position: absolute;
    right: 0;
}
/* personal파트 꾸밈요소 */
#Personal .personal .line1{
    left: 0;
    width: 8%;
}
#Personal .personal .flower{
    left: 80px;
    width: 60px;
}


/* 프로젝트 콘텐츠 */
/* 공통css */
#project .project_wrap{
    width: 100%;
    height: 100vh;
    position: relative;
}
#project article{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}
#project article.pro1{
    transform: translate(-50%,-40%);
}
#project .pro-con-wrap{
    width: 398px;
    padding: 0 10px;
    margin-right: 20px;

}
#project .pro-con-wrap h3{
    font-size: 55px;
    margin-left: -85px;
}
#project .pro-con-wrap h3 span{
    margin-right: 20px;
}
#project .pro-con-wrap h4{
    font-size: 20px;
    font-family: 'Abril Fatface','Song Myung';
    
}
#project .pro-con p{
    margin-bottom: 10px;
}

/* 프로젝트 이미지 */
/* 왼쪽위치 이미지(공통) */
#project .pro-img{
    top: 20px;
    width: 540px;
    position: relative;
    height: 390px;
}
#project .pro-img img{
    display: block;
    position: absolute;
}
#project .pro-img img:first-child{
    top: 0px;
    width: 500px;
}  
#project .pro-img img:last-child{
    bottom: 0;
    right: 0;
    
}   
/* 오른쪽위치 이미지 */
#project .img_right{
    margin-right: 90px;
}
#project .img_right img:first-child{
    right: 0;
}

#project .img_right img:last-child{
    left: 0;
    bottom: 0;
}


/*-----사이드 프로젝트 파트----- */
/*-- 제목 요소 위치--*/
#project .side_project .line1{
    left: 150px;
}
#project .side_project .flower{
    left: 350px;
    width: 60px;
}
/*-- 사이드 리스트 박스-- */
#project .side_list{
    width: 967px;
    height: 487px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translate(-50%, -30%);
}
#project .side_list div{
    width: 315px;
    height: 45%;
    text-align: center;
}
#project .side_list .img_wrap{
    width: 305px;
    height: 202px;
    position: relative;
    overflow: hidden;
}
#project .side_list .img_wrap a{
    position: absolute;
    display: block;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 13px;
    transition: 0.5s;
}
#project .side_list .img_wrap::before{
    content : " ";
    position: absolute;
    top: -100%;
    left: 0;
    background-color: rgba(255, 176, 104, 0.37);
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
#project .side_list p{
    margin-top: 5px;
}
/* ---호버효과--- */
#project .side_list .img_wrap:hover a:hover{
    background: #FF9D43;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.1s;
}
#project .side_list .img_wrap:hover a{
    top: 50%;
}
#project .side_list .img_wrap:hover::before{
    top: 0;
}
