@charset "UTF-8";

/*********** 모니터1 노트북 ***********/
@media screen and (max-width : 1366px) and (min-width:1200px){
    header{
        width: 100vw;
        min-width: 90vw;
    }
     /* ---main------- */
    /* intro */
    .nav_side{
        right: -3%;
        transition: 0.3s;
    }
    #intro .textwrap{
        right: 10%;
        transition: 0.5s;
    }
    #intro .stamp{
        right: 5%;
        transition: all 0.3s;
    }
    
    /* about me */
    #aboutMe .pictures{
        left: 120px;
        transition: 0.3s;
    }
    #aboutMe .aboutwrap{
        right: 5%;
        transition: 0.3s;
    }
      /*project  */
      #project .title{
        right: 0%;
    }

}



/*********** 모니터2 (작은 모니터) ***********/
@media screen and (max-width : 1199px) and (min-width:1070px){
    header{
        width: 100vw;
        min-width: 100vw;
    }
    #intro .textwrap{
        right: 10%;
        transition: 0.5s;
    }
    /* ---main------- */
    /* intro */
    .nav_side{
        right: -5%;
        transition: 0.3s;
    }
     #intro .textwrap{
        right: 10%;
        transition: 0.5s;
    }
    #intro .stamp{
        right: 5%;
        transition: all 0.3s;
    }
    .bg-imgs{
        position: absolute;
        left: 0%;
    }
   
    /* about me */

    #aboutMe .pictures{
        left: 3%;
        transition: 0.5s;
    }
    #aboutMe .aboutwrap{
        right: 3%;
        transition: 0.3s;
    }
   
    /*project  */
    #project .title{
        right: -1%;
    }
    #project .pro-img {
        width: 460px;
        height: 330px;
        transition: 0.5s;
    }
    #project .pro-img img:first-child{
        width: 430px;
        transition: 0.5s;
    }
    #project .pro-img img:last-child{
        width: 100px;
        transition: 0.5s;
    }
    /* connect */
    #connect .connect-con {
        left: -5%;
        transition: 0.5s;    
    }
    
}



/*********** 태블릿 1***********/
@media screen and (max-width : 1069px) and (min-width:762px){
    /* 메뉴 */
    header{
        width: 100vw;
        min-width: 100vw;
    }
    header nav h1{
        left: 40px;
    }
    header nav>ul{
        right: 70px;
    }
    .nav_side{
        right: -6%;
        transition: 0.3s;
    }
    
    /* ------------intro-------------------- */
    #intro .textwrap{
        right: 10%;
        transition: 0.5s;
    }
    #intro .textwrap>h3{
        font-size: 30px;
    }
    #intro .textwrap article h2{
        font-size: 90px;
        height: 90px;
    }
    #intro .textwrap h2 span.size-small{
        font-size: 50px;
    }
    #intro .stamp{
        width: 95px;
        right: 8%;
        transition: all 0.3s;
    }
   
    .bg-imgs{
        position: absolute;
        left: 0%;
    }
    .bg-imgs img:first-child{
        width:320px;
    }
    .bg-imgs img:last-child{
        width:320px;
        right: 0px;
        bottom: 50px;
    }

/*----------- about me----------------- */
    /* 인물일러스트 */
    #aboutMe .pictures{
        left: 6%;
        transition: 0.3s;
    }
    #aboutMe svg{
        width: 260px;
    }
    #aboutMe .pictures .circle{
        width: 100px;
        height: 100px;
    }
    #aboutMe .pictures .flower{
        width: 80px;
        bottom: 55px;
        right: 25px;
    }
    /* 내용 콘텐츠 */
    #aboutMe .aboutwrap{
        width: 600px;
        right: 0%;
    }
    #aboutMe h2{
        font-size: 55px;
        margin-left: -65px;
    }
    #aboutMe .title{
        font-size: 22px;
    }
    #aboutMe .sub_title{
        font-size: 30px;
        padding-top: 20px;
        height: 200px;
    }
    #aboutMe .hashtag{
        font-size: 13px;
    }
    #aboutMe .hide-content{
        font-size: 15px;
    }
   
    #aboutMe .hide-content{
        margin-top: 20px;
        width: 95%;
        top: 200px;
    }
    #aboutMe .content{
        height: 200px;
        margin-top: 10px;
    }
    #aboutMe .skills{
        width: 80%;
    }
    #aboutMe .skills span{
        font-size: 60px;
    }


    /* ---------------project---------------------- */
    /* 프로젝트 타이틀 */
    #project .title{
        right: -1%;
    }
    #project .title h2{
        font-size: 55px;
    }
    #project .flower {
        position: absolute;
        left: 310px;
        width: 65px;
    }
    #project .line1{
        left: 120px;
    }

    /* 프로젝트 내용들 */
    #project article{
        width: 90%;
    }
    #project .pro-con-wrap{
        width: 410px;
        margin-right: 0;
    }
    #project .pro-con-wrap h3{
        font-size: 45px;
        margin-left: -65px;
    }
    #project .pro-img img:first-child{
        top: 22px;
        width: 450px;
    }
    #project .pro-img img:last-child{
        width: 120px;
        bottom: 10px;
    }

    /* 퍼스널 프로젝트 타이틀 조정 */
    #Personal .personal .flower{
        left: 170px;
    }
    #Personal .personal .line1{
        width: 10%;
        left: 75px;
    }


    /* 사이드 프로젝트 파트 */
    #project .side_list{
        width: 90%;
        height: 420px;
        transform: translate(-50%, -38%);
    }
    #project .side_list div{
        width: 32%;
    }
    #project .side_list div img{
        width: 100%;
        height: 100%;
    }
    #project .side_list .img_wrap{
        width: 100%;
        height: 175px;

    }
    /* 사이드프로젝트 타이틀 */
    #project .side_project .flower{
        left: 410px;
    }
    #project .side_project .line1{
        left: 225px;
    }

    /* ------------connect-------------------- */
    #connect .title h2{
        font-size: 55px;
    }
    #connect .flower{
        width: 60px;
        right: 370px;
    }
    #connect .line1{
        left: 290px;
    }
    #connect .connect-con{
        left: 0;
    }
    #connect .connect-con p{
        width: 457px;
    }
    #connect .connect-con em{
        font-size: 35px;
    }
    #connect .connect-con p{
        font-size: 15px;
    }
}

/*********** 모바일 ***********/
@media screen and (max-width:762px){
    /* //////해더////// */
    header{
        width: 100vw;
        min-width: 100vw;
    }
    header nav h1{
        left: 40px;
    }
    header nav .pc_menu{
        display: none;
    }
    header .btn_mobile_menu{
        display: block;
        right: 6%;
        bottom: 25px;
    }
    .nav_side{
        display: none;
    }
    /* ------------intro-------------------- */
    
    #intro .textwrap{
        right: 10%;
        transition: 0.5s;
        top: 41%;
    }
    #intro .textwrap>h3{
        font-size: 24px;
    }
    #intro .textwrap article h2{
        font-size: 55px;
        height: 55px;
    }
    #intro .textwrap h2 span.size-small{
        font-size: 35px;
    }
    #intro .stamp{
        width: 120px;
        top: 40%;
        right: 8%;
        transition: all 0.3s;
    }
    .decoration_vertical{
        right: 3%;
    }
    .bg-img-wrap{
        width: 100%;
        height: 100%;
        left: 0;
    }
    .bg-imgs{
        position: absolute;
        left: 0%;
    }
    .bg-imgs img:first-child{
        width:360px;
        left: -10%;
        opacity: 0.7;
        transition: 0.5s;
    }
    .bg-imgs img:last-child{
        width:320px;
        right: 0px;
        bottom: 10px;
        opacity: 0.9;
    }
    #intro .intro-cont{
        width: 80vw;
        position: absolute;
        left: 50%;
        bottom: -70%;
        transform: translateX(-50%);
        text-align: center;
    }
    #intro .leaf,#intro .flower{
        display: none;
    }
    #intro .decoration_horizontal{
        bottom: 40px;
    }

    /* ------------about me-------------------- */
}
